body {
  background: #424242;
  padding: 1.5rem;
}

select {
  width: 160px;
  height: 3rem;
}

#svgContainer {
  background: #5b5b5b;
  display: inline-flex;

  svg {
    width: 400px;
    height: 400px;
    transition: all 200ms;
  }
}
